.imgbackground{
    z-index:-1;
    background-image:url("https://i.pinimg.com/736x/04/8b/82/048b828638b780d93afd687066518d10.jpg");
    background-size: cover;}
    

    /*https://images.all-free-download.com/images/graphicthumb/abstract_exquisite_background_vector_520368.jpg
